* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: "Inter", sans-serif;
}

.container {
  min-height: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: #f55a5a;
}

.nav__icon {
  max-width: 24px;
  margin-right: 7px;
}

.nav__title {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.068rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 27px 40px 10px;
  overflow: auto;
}

.card {
  display: flex;
  align-items: center;
  gap: 19px;
  max-width: 450px;
  padding: 18px 0;
  border-bottom: 1px solid #f5f5f5;
}

.card:last-child {
  border: none;
}

.card__img {
  display: block;
  width: 125px;
  height: 168px;
  border-radius: 5px;
  object-fit: cover;
}

.card__group--text {
  display: flex;
  flex-direction: column;
  color: #2b283a;
  font-size: 0.64rem;
  font-weight: 400;
  line-height: 1.2;
}

.card__group--location {
  display: flex;
  align-items: center;
}

.card__country {
  margin: 0 12px 0 4px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.card__link {
  color: #918e9b;
  text-decoration: underline;
}

.card__title {
  margin: 8px 0 16px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
}

.card__date {
  margin-bottom: 8px;
  font-weight: 700;
}

.card__description {
  line-height: 1.5;
}
